/PlatinumFiles/
/PokEditor/
/Working/
/Programs/
/ShinyChanges/*.txt
/ShinyChanges/FollowPalsExtracted
*_SDSME/
*_DSPRE_extracted/
*_DSPRE_contents/
*.narc
*.nds
*.o
*.exe
*.jar
*.dll
*.bak
arm9*.bin
temp_bin